

.testimonial-content {
    text-align: right;
}

.single-testimonial {
    text-align: center;
    max-width: 700px;
    margin: auto;
    border: 1px solid #777777;
    border-radius: 6px;
    padding-bottom: 10px;
}

.single-testimonial span {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
}


.testimonial-area .subtitle, 
.testimonial-area h2 {
    margin-top: 0px;
}

.single-testimonial p {
    font-size: 18px;
}

.single-testimonial img {
    margin-top: 30px;
    border-radius: 100px;
    display: none;
}

.single-testimonial h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.single-testimonial h3 {
    color: inherit;
}

.single-testimonial .desg {
    font-size: 14px;
    margin: 0;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 20px;
    height: 5px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background: #333;
}

.owl-theme .owl-controls .owl-buttons div {
    font-size: 25px;
    background: none;
    padding: 5px;
}






















.allwrps {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.mImg{
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.single {

    text-align: center;
    margin: 0 5px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s;     
}
.btns {
    text-align: center;
    margin-bottom: 30px;
    padding-right: 20px;
}

.btns button {
        cursor: pointer;
    transition: .3s;
    width: 8%;

  
    
}

.btns button:hover,.btns button.active {
    background: #ff214F;
    color: #fff;
}
.sss{
	min-height: 82px;
	border-radius: 10px;
	border-style: none;
	background: white;



}
.ff{
	width: 100%;
	min-height: 85px;
}







.works.section-big {
    border: none;
    padding-bottom: 0;
}
.portfolio .mix {
    display: none;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.filters li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 70px;
    cursor: pointer;
    color: #777;
    font-size: 16px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;

}

.filters li.active {
    color: #Ff214F;
    font-weight: 900;
   
}

.filters li span {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.work-items {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: -10px;

}

.work-items .item {
    position: relative;
    overflow: hidden;
    margin: 5px -10px; 

}

.work-items .item img {
    width: 100%;
    transition: 0.8s ease-out;
}

.work-items .overlay{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.work-items .item:hover {    
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    z-index: 100;
}
.work-items .item:hover .overlay {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.work-items .item:hover img {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}


.work-items .overlay i.fa {
    font-size: 25px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mystyle3{
	width: 100%;
	min-height: 50px;
	color: #777777;
	font-size: 20px;


}
li{
	text-decoration: none;
}















.main {
	min-height: 4728.85px;
	/*width:  1471.2px;*/
	width: 100%;
}

.main1 {
	min-height: 789px;
	width: 100%;
	border-bottom: solid 1px #777777;
	background-image: url(https://infolook.net/tf_preview/showkil/assets/img/bg/intro-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.main2 {
	min-height: 739.5px;
	width: 100%;
	background: white;
	border-bottom: solid 1px #777;


}

.menuRight {
	float: right;
}

.mys {
	background: rebeccapurple;
}

.main3 {
	min-height: 708.3px;
	width: 100%;
	border-top: solid 1px #777;
	border-bottom: solid 1px #777;
}

.main4 {
	min-height: 1118.95px;
	width: 100%;
	/*background: pink;*/
	border-bottom: solid 1px #777;
}

.main5 {
	min-height: 721.6px;
	width: 100%;
	/*background: purple;*/
	border-bottom: solid 1px #777;
	border-top: solid 1px #777;
}

.main6 {
	min-height: 711.5px;
	width: 100%;
	border-bottom: solid 1px #777;
}
#email{
	
	margin-top: 10px;
	border-style: none;
	border-bottom: 1px solid black ;

}
#name{
	margin-top: 10px;
	border-style: none;
	border-bottom: 1px solid black ;
}
#message{
	margin-top: 10px;
	border-style: none;
	border-bottom: 1px solid black ;
	min-height: 100px;
}
.z{
	background: transparent;
	color: #ff214f;
	border-top: 1px white solid;
	border-style: none;
	border-bottom: 1px solid black ;
	border-top: none;
}

.main7 {
	min-height: 357px;
	width: 100%;
	background: #333;
	text-align: center;
	color: #fff;
	padding-top: 50px;
	border-bottom: solid 1px #777;
}

.boxx {
	width: 50px;
	min-height: 50px;


}
.boxx{
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}





.box span {
	width: 20px;
	height: 20px;
	display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;

}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}

	100% {
		opacity: 0;
	}
}

.footer {
	background: #333;
}

.footer1 {
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
	color: white;
}

.footer2 {
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}

.footer3 {
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}

.footer4 {
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}

.footer5 {
	width: 100%;
	min-height: 54.99px;
	margin-bottom: 10px;
	padding-left: 370px;

}

.footer6 {
	width: 100%;
	min-height: 99.99px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.iconss {
	width: 55px;
	height: 55px;
	float: left;
	border-radius: 6px;
	transform: rotate(45deg);
	background: #FF214F;
	padding-left: 5px;
	margin-right: 20px;

}

.icon1 {
	width: 45px;
	height: 45px;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin-right: 20px;
	margin-left: px;
	margin-top: 5px;
	font-size: 20px;
	color: white;
	background: transparent;
	float: left;
	transform: rotate(315deg);
	color: black;

}

.icon2 {
	width: 45px;
	height: 45px;
	padding: 15px;
	float: left;
	margin-right: 20px;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	background: transparent;

	transform: rotate(315deg);
	color: black;



}

.icon3 {
	width: 45px;
	height: 45px;
	padding: 15px;
	float: left;
	margin-right: 20px;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	background: transparent;
	transform: rotate(315deg);
	color: black;


}

.icon4 {
	width: 45px;
	height: 45px;
	padding: 15px;
	float: left;
	margin-right: 20px;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	background: transparent;
	transform: rotate(315deg);
	color: black;

}

.icon5 {
	width: 45px;
	height: 45px;
	padding: 15px;
	float: left;
	border-style: solid;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	background: transparent;
	transform: rotate(315deg);
	color: black;



}



.aboutme {

	width: 100%;
	min-height: 168.5px;
	margin-bottom: 60px;
	padding-top: 50px;
	padding-right: 230px;

}

.about {
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 140px;
	font-size: 30px;
	position: relative;
	padding-right: 325px;
}

.about::before {
	position: absolute;
	content: '';
	bottom: -20px;
	left: 390px;
	width: 100px;
	height: 6px;
	z-index: 1;
	margin-left: -53px;
	border-radius: 10px;
	border: 1px solid #ff214f;



}

.the {
	width: 100%;
	min-height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 130px;
	font-size: 15px;
	font-style: sans-serif;
	padding-right: 300px;
}

.photo {
	width: 100%;
	height: 370px;



}

.bio {
	float: left;
	width: 100%;
	min-height: 326px;
	color: #777777;

	margin-top: 20px;
	margin-bottom: 100px;



}

.quick {
	color: black;
	font-size: 18px;
	width: 100%;
	min-height: 19.8px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.aboutme1 {
	min-height: 232px;
	width: 100%;
	font-size: 15px;
	color: #777777;
	display: flex;
	align-items: flex-start;
	justify-content: left;

}

.btn,
input[type='submit'] {
	display: inline-block;
	padding: 10px 25px;
	border: none;
	color: #fff;
	background: #ff214f;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

li {
	list-style: none;
}

.contactme {
	width: 100%;
	min-height: 168.5px;
	margin-bottom: 60px;
	padding-top: 50px;
	padding-right: 230px;
}

.contactme1 {
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 110px;
	font-size: 30px;
	position: relative;
}

.contactme1::before {
	position: absolute;
	content: '';
	bottom: -20px;

	left: 50%;
	width: 100px;
	height: 6px;
	z-index: 1;
	margin-left: -53px;
	border-radius: 10px;
	border: 1px solid #ff214f;
}

.the1 {
	width: 100%;
	height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 120px;
	font-size: 15px;
	font-style: sans-serif;
}

.form-control {
	display: block;
	width: 100%;
	min-height: 34px;
	padding: 6px 25px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.actions {
	margin-left: 440px;
	margin-top: 50px;
}

.form {
	width: 100%;
	min-height: 324px;
	margin-top: -33px;
	padding-right: 180px;
	padding-left: 180px;

}

.user {
	width: 100%;
	min-height: 51px;
	margin: 20px 0px 5px 0px;
	border: none;



}

.email {
	min-height: 51px;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 20px;

}

.message {
	width: 100%;
	min-height: 105px;
	margin-top: 20px;
}

.icon {
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #ff214f;
	padding-right: 750px;
	margin-left: 0px;

}

.form-control {
	margin-top: -41px;
}

.btn1,
input[type='submit'] {
	display: inline-block;
	padding: 10px 25px;
	border: none;
	color: #fff;
	background: #ff214f;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {

	cursor: pointer;
}

.btn1 {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-left: -150px;
}

.what {
	width: 100%;
	min-height: 168.5px;
	margin-bottom: 130px;
	padding-top: 50px;
	margin-left: 150px;
	margin-top: 25px;
	padding-right: 600px;
}

.what1 {
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 140px;
	font-size: 30px;
	position: relative;
}

.what1::before {
	position: absolute;
	content: '';
	bottom: -20px;
	left: 50%;
	width: 100px;
	height: 6px;
	z-index: 1;
	margin-left: -53px;
	border-radius: 10px;
	border: 1px solid #ff214f;

}

.the2 {
	width: 100%;
	min-height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 130px;
	font-size: 15px;
	font-style: sans-serif;
}

.service-box {
	margin: auto;
	margin-top: 30px;
	padding: 40px 25px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.service-box span {
	font-size: 25px;
	color: #fff;
	width: 50px;
	text-align: center;
	margin-bottom: 50px;
	line-height: 70px;
}

.card {
	width: 100%;
	min-height: 338.8px;
	margin-top: 0px;
	border-style: solid;
	border-color: #777;
	border-width: 1px;
	border-radius: 6px;
	padding-bottom: 10px;

}

.text {
	width: 100%;
	min-height: 102px;
	font-size: 15px;
	margin-top: 15px;


}

.icons {
	width: 80px;
	height: 80px;
	background-color: #FF214F;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-size: 30px;
	padding-right: 80px;
	transform: rotate(45deg);
	border-radius: 6px;
	margin-left: 90px;



}


.mystyle1 {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70px;
	padding-right: 0px;
	transform: rotate(315deg);
	margin-left: 40px;





}

.mystyle {
	width: 100%;
	min-height: 24px;
	font-size: 30px;
	transform: rotate(315deg);
	padding-top: 35px;
	color: white;
}


.text1 {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
	width: 100%;
	min-height: 20px;
}

.text2 {
	width: 100%;
	min-height: 102px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	text-align: center;
	padding: 0px 25px;


}


#happy1 {
	width: 100%;
	height: 352px;
	float: left;
	margin-top: 0px;
	border-radius: 6px;
	border: solid 1px #ddd;


}

#happy2 {
	width: 100%;
	min-height: 352px;
	float: left;
	margin-top: 0px;
	border-radius: 6px;
	border: solid 1px #ddd;


}

#happy3{
	width: 100%;
	min-height: 352px;
	float: left;
	margin-top: 0px;
	border-radius: 6px;
	border: solid 1px #ddd;
}

.clientsicon {
	width: 80px;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-size: 30px;
	transform: rotate(45deg);
	border-radius: 10px;
	margin-left: 300px;
	margin-bottom: 30px;

	background-color: #FF214F;


}

.myss {


	color: white;
	transform: rotate(315deg);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;


}


.clients1 {
	width: 100%;
	min-height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	padding: 20px;
}

.clientsmr {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;

}

.found {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #777777;
}

.ll {
	width: 100%;
	min-height: 82.2px;
	margin-bottom: 30px;
}

.iconnn:hover {
	color: white;
}


.iconnn {
	width: 100%;
	min-height: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 25px;
}

.textt {
	width: 100%;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #777777;
	font-style: italic;
	font-size: 16px;
}

.developer {
	width: 100%;
	min-height: 266.6px;
	margin-top: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ff214f;


}

.mr {
	min-height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: -20px;
	font: 26px Raleway, sans-serif;
	text-align: center;
}

.h {
	font-size: 100px;
	font-weight: bold;
}

.s {
	color: white;
}

.b {

	color: red;

}

.part1 {
	width: 100%;
	min-height: 290px;
	margin-bottom: 30px;
}

.part2 {
	width: 100%;
	min-height: 290px;
	margin-bottom: 100px;
}

#this1 {
	float: left;
	width: 100%;
	min-height: 290px;
	margin-left: 0px;
	


}





#this2 {
	float: left;
	width: 100%;
	min-height: 290px;
}

#this3 {
	float: left;
	width: 100%;
	min-height: 290px;
	margin-left: 10px;

}

#this4 {
	float: left;
	width: 100%;
	min-height: 290px;
	margin-left: 0px;
	margin-bottom: 100px;

}

#this5 {
	float: left;
	width: 100%;
	min-height: 290px;
	margin-bottom: 100px;
}

#this6 {
	float: left;
	width: 100%;
	min-height: 290px;
	margin-left: 10px;
	margin-bottom: 100px;

}

.sekil {
	width: 100%;
	min-height: 246px;
}

.soz {
	background: #ff214f;
	width: 100%;
	min-height: 44px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 15px;

}

.n {
	font: 15px RAleway, sans-serif;
	color: #777777;
}

.iconss:hover {
	background: white;

}

.btn1:hover {
	background: #333;
}

.btn:hover {
	color: white;
	background: #333;
}


input.search, span {
  margin-top: 20px;
}

input.search {
  margin-left: 20px;
}

ul.list {
  padding: 0;
  list-style: none;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}

.list li {
  padding: 10px 20px;
}

.list li + li {
  border-top: 1px solid #ccc;
}



















@media (max-width: 1200px) {

	.btn1 {
		margin-left: -220px;
	}

	.btn {
		margin-top: 10px;
	}

	.footer5 {
		margin-left: -10px;
		padding-left: 290px;
	}

	.menu1 {
		margin-left: 300px;
	}

	.icons {
		margin-left: 70px;
	}

	.icon {

		padding-right: 670px;
		margin-left: 10px;
	}

	

}

@media (min-width: 1200px) {


	.icon {
		padding-right: 750px;
	}



}























@media (max-width: 767.98px) {
	.card {
		margin-bottom: 20px;
	}

	.happy1 {
		margin-bottom: 40px;
	}

	.happy2 {
		margin-bottom: 40px;
	}

	.form {
		padding-left: 0px;
		padding-right: 0px;
	}


	.btn {
		min-height: 40px;
		width: 141px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.photo {
		vertical-align: middle;
	}


	.text2 {

		padding-right: 50px;

	}

	

	.xx {
		margin-right: 600px;
	}

	.menuRight {
		float: left;
	}

	









}



@media (min-width: 767.99px) {
	.card {
		margin-bottom: 20px;
	}









}


@media (max-width: 991.99px) {
	.form {
		padding-left: 0px;
		padding-right: 0px;
	}

	.footer5 {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 150px;
	}

	.ll {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.menu1 {
		margin-left: 180px;
	}

	.btn1 {
		margin-left: -200px;
	}

	.main4 {
		margin-bottom: 100px;
	}

	.icons {
		margin-left: 320px;
	}

	.footer5 {
		margin-left: 5px;
		padding-left: 160px;

	}

	.icon {
		padding-right: 670px;
	}

	

}



@media (min-width: 992px) {


	.bio {
		margin-left: 0px;
		padding-left: -20px;
	}

	.img {
		width: 50%;
	}

	.manu1 {
		margin-left: 180px;
	}


}

@media (max-width:742.99px) {
	.icon1 {
		margin-left: 150px;
	}

	.footer5 {
		margin-left: 150px;
	}

	.icon1 {
		margin-left: 0px;
	}

	.icons {
		margin-left: 300px;
	}

	.footer5 {
		margin-left: 20px;
		padding-left: 125px;
	}


}

@media (max-width:732px) {
	


} 



#preloader{
    width: 100%;
    height: 100vh;
    background: white url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif') no-repeat center center;
    background-size: 10%;
    float: left;
    position: fixed;
    z-index: 100;
}









