.main{
	min-height:4728.85px;
	/*width:  1471.2px;*/
	width: 100%;
}
.main1{
	min-height: 789px;
	width: 100%;
	border-bottom: solid 1px #777777;
	background-image: url(https://infolook.net/tf_preview/showkil/assets/img/bg/intro-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.main2{
	min-height: 739.5px;
	width: 100%;
	background: white;
	border-bottom: solid 1px #777;

}
.main3{
	min-height: 708.3px;
	width: 100%;
	border-top: solid 1px #777;
	border-bottom: solid 1px #777;
}
.main4{
	min-height: 1118.95px;
	width: 100%;
	/*background: pink;*/
	border-bottom: solid 1px #777;
}
.main5{
	min-height: 721.6px;
	width: 100%;
	/*background: purple;*/
	border-bottom: solid 1px #777;
	border-top: solid 1px #777;
}
.main6{
	min-height: 711.5px;
	width: 100%;
	border-bottom: solid 1px #777;
}
.main7{
	min-height: 357px;
	width: 100%;
	background: #333;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    border-bottom: solid 1px #777;
}
.footer{
	background: #333;
}
.footer1{
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
	color: white;
}
.footer2{
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}
.footer3{
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}
.footer4{
	width: 100%;
	min-height: 25.5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	padding-top: 10px;
}
.footer5{
	width: 100%;
	min-height: 54.99px;
	margin-bottom: 10px;
	margin-left: -40px;
}
.footer6{
	width: 100%;
	min-height: 99.99px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.icon1{
	width: 45px;
	height: 45px;
	background: #FF214F;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin-right: 20px;
	margin-left: 427px;
	transform: rotate(45deg) ;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 20px;
	color: white;
}
.icon2{
	width: 45px;
	height: 45px;
	background: #FF214F;
	padding: 15px;
	float: left;
	margin-right: 20px;
	transform: rotate(45deg) ;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
}
.icon3{
	width: 45px;
	height: 45px;
	background: #FF214F;
	padding: 15px;
	float: left;
	margin-right: 20px;
	transform: rotate(45deg) ;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
}
.icon4{
	width: 45px;
	height: 45px;
	background: #FF214F;
	padding: 15px;
	float: left;
	margin-right: 20px;
	transform: rotate(45deg) ;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
}
.icon5{
	width: 45px;
	height: 45px;
	background: #FF214F;
	padding: 15px;
	float: left;
	transform: rotate(45deg) ;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;

}

s

.aboutme{
	
	width: 100%;
	min-height:168.5px;
	margin-bottom: 60px;
	padding-top: 50px;
	padding-right: 230px;

}
.about{
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 140px;
	font-size: 30px;
	position: relative;
	padding-right: 325px;
}

.about::before{
  position: absolute;
    content: '';
    bottom: -20px;
    left: 390px;
    width: 100px;
    height: 6px;
    z-index: 1;
    margin-left: -53px;
    border-radius: 10px;
    border: 1px solid #ff214f;



}

.the{
	width: 100%;
	min-height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 130px;
	font-size: 15px;
	font-style: sans-serif;
	padding-right: 300px;
}
.photo{
	width: 100%;
	min-height: 370px;
	border-radius: 10px;
	float: left;
	margin-top: 20px;
	margin-bottom: 100px;

}
.bio{
	float: left;
	width: 100%;
	min-height: 326px;
	color: #777777;
	margin: 0px 0px 0px 0px;
	padding-right: 15px;
	padding-left: 35px;
	margin-top: 20px;
	margin-bottom: 100px;


}
.quick{
	color: black;
	font-size: 18px;
	width: 100%;
	min-height: 19.8px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.aboutme1{
	min-height:232px ;
	width: 100%;
	font-size: 15px;
	color: #777777;
	display: flex;
	align-items: flex-start;
	justify-content: left;
}
.btn, input[type='submit'] {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    color: #fff;
    background: #ff214f;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
li {
	list-style: none;
}

.contactme{
	width: 100%;
	min-height:168.5px;
	margin-bottom: 60px;
	padding-top: 50px;
	padding-right: 230px;
}
.contactme1{
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 140px;
	font-size: 30px;
	position: relative;
}
.contactme1::before{
 	position: absolute;
    content: '';
    bottom: -20px;
   
    left: 50%;
    width: 100px;
    height: 6px;
    z-index: 1;
    margin-left: -53px;
    border-radius: 10px;
    border: 1px solid #ff214f;
}
.the1{
	width: 100%;
	min-height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 130px;
	font-size: 15px;
	font-style: sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.actions{
	margin-left: 440px;
	margin-top: 50px;
}
.form{
	width: 700px;
	min-height: 324px;
	margin-left: 200px;
	float: left;
	margin-top: -33px;
}
.user{
	width: 100%;
	min-height: 51px;
	margin: 20px 0px 5px 0px;
	border: none;
	
	
}
.email{
	min-height: 51px;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 20px;

}
.message{
	width: 100%;
	min-height: 105px;
	margin-top: 20px;
}
.icon{
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #ff214f;
	padding-right: 675px;
}
.form-control{
	margin-top: -41px;
}

.btn1, input[type='submit'] {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    color: #fff;
    background: #ff214f;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: -200px;
}
.what{
	width: 100%;
	min-height:168.5px;
	margin-bottom: 130px;
	padding-top: 50px;
	margin-left: 150px;
	margin-top: 25px;
	padding-right: 600px;
}

.what1{
	width: 100%;
	min-height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	margin-bottom: 50px;
	margin-left: 140px;
	font-size: 30px;
	position: relative;
}
.what1::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    width: 100px;
    height: 6px;
    z-index: 1;
    margin-left: -53px;
    border-radius: 10px;
    border: 1px solid #ff214f;

}
.the2{
	width: 100%;
	min-height: 25.5px;
	color: #777777;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px 0px 130px;
	font-size: 15px;
	font-style: sans-serif;
}
.service-box {
    margin: auto;
    margin-top: 30px;
    padding: 40px 25px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}.service-box span {
    font-size: 25px;
    color: #fff;
    width: 50px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 70px;
}
.card{
	width: 100%;
	min-height: 338.8px;
	margin-top: 0px;
	border-style: solid;
	border-color: #777777;
	border-width: 1px;
	border-radius: 6px;
	padding-bottom: 10px;
}
.text{
	width: 100%;
	min-height: 102px;
	font-size: 15px;
	margin-top: 15px;

}
.icons{
	width: 60px;
	height: 60px;
	background: #FF214F;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 100px;
	transform: rotate(45deg);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;
	padding-right:25px ;

}
.text1{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
}
.text2{
	width: 100%;
	min-height: 102px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;


}

.mystyle{
	width: 100%;
	min-height: 24px;
	font-size:30px ;
	transform: rotate(315deg);
	padding-top: 35px;
	color: white;
}
.developer{
	width: 100%;
	min-height: 792px;
	display: flex;
	align-items: center;
	justify-content: center;


}
.desinger{
	width: 100%;
	height: 200px;

	
}
.happy1{
	width: 100%;
	height: 352px;
	float: left;
	margin-top: 0px;
	border-radius: 6px;
	border: solid 1px #ddd;
	
	
}
.happy2{
	width: 100%;
	min-height: 352px;
	float: left;
	margin-top: 0px;
	border-radius: 6px;
	border: solid 1px #ddd;
	
	
}
.clientsicon{
	width: 80px;
	height: 80px;
	background-color: #FF214F;
	transform: rotate(45deg) ;
	margin-left: 225px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;	
	margin-top: 50px;
	font-size: 30px;
}
.mystyle1{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.clients1{
	width: 100%;
	min-height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	padding: 20px;
}
.clientsmr{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	
}

.typed-cursor, .typejs {
    display: inline;
    font-weight: 900;
    font-size: 100px;
    color: #ff214f;
	display: flex;
	align-items: center;
	justify-content: center;
}
.typed-cursor {
    font-weight: 300;
}
.typed-cursor, .typejs {
    display: inline;
    font-weight: 900;
    font-size: 100px;
    color: #ff214f;
}








@media (min-width: 768px) {
	.card{
		margin-bottom: 20px;
	}
	.clientsicon{
		margin-left: 115px;
	}
	/*.btn{
		margin-top: -40px;
		min-height: 40px;
		width: 141px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.bio{
		margin-top: -100px;
		width: 720px;
		min-height: 273px;
		margin-left: -30px;

	}
	.photo{
		width: 720px;
		min-height: 480px;
		margin-bottom: -20px;
	}	*/
	.bio{
		width: 455px;
		min-height: 280px;
		padding: 0px;
		margin-left: -5px;
   
	}
	.photo{
		margin-left: -40px;
		width: 455px;
		min-height: 303px;
	}
	.btn{
		margin-top: 10px;
	}

	
	
}
@media (max-width: 767.98px) {
	.card{
		margin-bottom: 20px;
	}
	.icons{
		margin-left: 300px;
	}
	.happy1{
		margin-bottom: 40px;
	}
	.happy2{
		margin-bottom: 40px;
	}
	
	.bio{
		margin-left:-35px;
		margin-right: -25px;
		width: 668px;
		min-height: 290px;
		margin-top: -90px;

	}
	.btn{
		margin-top: -40px;
		min-height: 40px;
		width: 141px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.photo{
		width: 668px;
		min-height: 445px;
		margin-bottom: 0px;
		margin-left: -20px;
	}
	.user{
		width: 670px;
		min-height: 51px;
		margin-left:-170px;
	}
	.email{
		width: 670px;
		min-height: 51px;
		margin-left:-170px;
	}
	.message{
		width: 670px;
		min-height: 51px;
		margin-left:-170px;
	}
	.text2{
		
		padding-right: 50px;
		
	}



}

